<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>You searched for <strong></strong>. We found 3 flats out of our 3 on our website.</p>
    </div>
  </div>
  <div class="row">
  <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="card">
          <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><% flat.address %></p>
            <div class="flex">
              <div class="flex">
                <i class="fas fa-user-friends"></i>
                <span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i><%= flat.price_per_night %>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <a href="/flats/1920">More info</a>
            <a href="#" class="ml-3 text-warning">Edit</a>
            <a href="#" class="ml-3 text-danger">Remove</a>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>
